<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Cafe List</title>
</head>
<body>
	<h2>Cafe List</h2>
	<a th:href="@{/cafes/new}">Register Cafe</a>
	<form th:action="@{/cafes}" method="get">
		<label>Search Cafe : </label>
		<input type="text" id="search" name="name"/>
		<button type="submit">Search</button>	
	</form>
	<table border="1">
		<tr th:each="cafe : ${cafes}"></tr>
	</table>
	<table border="1">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Location</th>
			<th>Opening Hours</th>
			<th>Detail / Delete</th>
		</tr>
		<tr th:each="cafe : ${cafes}">
			<td th:text="${cafe.cafeId}"></td>
			<td th:text="${cafe.name}"></td>
			<td th:text="${cafe.location}"></td>
			<td th:text="${cafe.openingHours}"></td>
			<td>
				<a th:href="@{/cafes/count(location='location')}">지역 카페 개수 확인</a>
				<a th:href="@{|/cafes/${cafe.cafeId}|}">Detail</a>
				<a th:href="@{|/cafes/update/${cafe.cafeId}|}">Update</a>
				<a th:href="@{|/cafes/delete/${cafe.cafeId}|}">Delete</a>
			</td>
		</tr>
	</table>
</body>
</html>