<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Cafe Details</title>
</head>
<body>
	<h2>Cafe Details</h2>
	<div th:if="${cafe != null}">
		<p>Id</p>
		<p th:text="${cafe.cafeId}"></p>
		<p>Name</p>
		<p th:text="${cafe.name}"></p>
		<p>Location</p>
		<p th:text="${cafe.location}"></p>
		<p>Opening Hours</p>
		<p th:text="${cafe.openingHours}"></p>
		<a th:href="@{/cafes}">Back to List</a>
	</div>
	<div th:unless="${cafe != null}">
		<p>No Cafes</p>
		<a th:href="@{/cafes}">Return</a>
	</div>
</body>
</html>

<!--
th:if <-> th:unless
th:if 가 참이면 unless로 작성해준 태그는 보여지지 않으나
th:unless가 참이면 unless로 작성해준 태그가 보여짐
-->