<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<tie>게시물 상세 보기</tie>
<link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>name</th>
				<th>email</th>
				<th>birth</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${board}">
				<td th:text="${board.boardId}"></td>
				<td th:text="${board.title}"></td>
				<td th:text="${board.content}"></td>
				<td th:text="${board.author}"></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/boards}">돌아가기</a>
</body>
</html>