<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Product List</title>
</head>
	<body>
		<h1>Product List</h1>
		<a th:href="@{/product/new}">상품 추가</a>
		<div th:each="product, loop : ${paging.content}">
			<div th:if="${product.imgName} != null and ${product.imgPath} != null}">		
				<img th:src="@{${product.imgPath}}">
			</div>
			<div th:unless="${product.imgName} != null and ${product.imgPath} != null}">
				<img th:src="@{'/img/notImg.jpg'}">
			</div>
			<label>제품명 : </label>
			<span th:text="${product.name}"></span><br>
			<label>가격 : </label>
			<span th:text="${product.price}"></span><br>
			<button th:if="${#authorization.expression('isAuthenticated()')}" th:onclick="'likeProduct(' + ${product.id} + ')" type="button">좋아요</button>
			<span th:text="${product.likes}"></span><br>
			<script>
				function likeProduct(productId) {
					alert('좋아요를 누르셨습니다.' + productId);
				}
			</script>
			<a th:href="@{'/product/detail/' + ${product.id}}">상세보기</a>
			
			<!-- 장바구니에 담기 버튼 -->
			<form th:action="@{/cart/add}" method="post">
				<input type="hidden" name="productId" th:value="${product.id}"/>
				<button type="submit">장바구니에 담기</button>
			</form>
			<div th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></div>
		</div>
		<!-- 페이징을 위한 번호 목록 만들기 -->
		<div th:if="${!paging.isEmpty()}">
			<ul>
				<li th:classappend="${!paging.hasPrevious} ? '' : 'disabled'">
					<a th:href="@{|?page=${paging.number-1}|}"><span>이전</span></a>
				</li>
				<li th:each="page : ${#numbers.sequence(1, paging.totalPages)}"
					th:classappend="${page == paging.hasNext} ? 'active' : ''">
					<a th:text="${page}" th:href="@{|?page=${page}|}"><span></span></a>
				</li>
				<li th:classappend="${!paging.hasNext} ? '' : 'disabled'">
					<a th:href="@{|?page=${paging.number+1}|}"><span>다음</span></a>
				</li>
			</ul>
		</div>
		<!--
			paging.idEmpty 게시물의 전재 여부 체크
			paging.totalElements 전체 게시물 개수
			paging.totalPages 전체 페이지 개수
			paging.size 페이지 당 보여줄 게시물 수
			paging.number 현재 페이지 번호
			paging.hasPrevious 이전 페이지 존재 여부
			paging.hasNext 다음 페이지 존재 여부
		-->
	</body>
</html>