<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>KH SHOP</title>
</head>
<body>
	<h1>KH SHOP</h1>
	<ul>
		<li><a>Home</a></li>
		<li><a>상품 올리기</a></li>
		<li><a>판매자 마이페이지</a></li>
		<li><a>제품 상세보기</a>
			<ul>
				<li>모든 제품 보기</li>
				<li>인기 상품 보기</li>
				<li>새로운 상품 보기</li>
			</ul>
		</li>
	</ul>
	<form>
		<button>로그인</button>
	</form>
	<form>
		<button>회원가입</button>
	</form>
	<form>
		<button>현재 잔액</button>
	</form>
	<ul>
		<li>마이페이지</li>
	</ul>
</body>
</html>