<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>로그인</title>
</head>
<body>
	<div>
		<form>
			<div>
				<label>이메일주소</label>
				<input type="email" name="email" placeholder="Input email"/><br>
			</div>	
			<div>
				<label>비밀번호</label>
				<input type="password" name="password" placeholder="Input password"/><br>
			</div>	
			<p th:if="${loginErrorMsg}" th:text="${loginErrorMsg}"></p>
			<button>로그인</button>
			<button>회원가입</button>
		</form>
	</div>
</body>
</html>